---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---
<article class="card card-compact bg-neutral text-neutral-content shadow-xl">
  <div class="card-body">
  	<a href={post.url}><h1 class="card-title">{post.frontmatter.title}</h1></a>
	<p class="publish-date">{post.frontmatter.publishDate}</p>
   <p>{post.frontmatter.description}</p>
    <div class="card-actions justify-end">
      <a class="btn btn-primary" href={post.url}>Read more</a>
    </div>
  </div>
</article>